body{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	background: #fff;
	color: #333;
	padding: 0 0 5px 0;
	margin: 0;
}
div#title{
	background: #edeceb;
	color: #666;
	text-align: center;
	font-weight: bold;
	margin: 0;
	padding: 8px 0;
}
nav#menu{
	border-top: 1px solid #999;
	border-bottom: 1px solid #333;
	background: linear-gradient(#fefefe, #dedede, #bebebe);
	text-align: center;
	margin: 0;
	padding: 10px 0;
}
nav#menu a, nav#menu a:link, nav#menu a:visited, nav#menu a:active{
	color: #333;
	text-decoration: none;
	padding: 10px;
}
nav#menu a:hover{
	background: #edeceb;
}
nav#menu a:active{
	background: linear-gradient(#bebebe, #dedede, #fefefe);
}
table#table_data{
	border: 1px solid #333;
	border-collapse: collapse;
	margin: 8px auto;
}
thead#thead_data tr, tbody#tbody_data tr{
	cursor: pointer;
}
thead#thead_data th{
	border: 1px solid #333;
	background: linear-gradient(#eeeeee, #dedede, #cecece);
	font-weight: normal;
	padding: 6px;
}
thead#thead_data th:hover{
	background: #edeceb;
}
thead#thead_data th:active{
	background: linear-gradient(#cecece, #dedede, #eeeeee);
}
tbody#tbody_data tr:hover{
	background: #86abd9;
	color: #fff;
}
tbody#tbody_data td{
	border-left: 1px solid #333;
	padding: 1px 6px;
}
tbody#tbody_data td.ln{
	background: #edeceb;
	color: #333;
	text-align: right;
}
tfoot#tfoot_data td{
	border: 1px solid #333;
	margin-top: 6px;
	background: linear-gradient(#eeeeee, #dedede, #cecece);
	padding: 6px;
}
tfoot#tfoot_data td#pg{
	text-align: center;
}
div#nav_data{
	border: 1px solid #333;
	background: linear-gradient(#eeeeee, #dedede, #cecece);
	display: table;
	margin: 0 auto;
	padding: 0 5px;
}
div#nav_data form{
	display: inline;
}
div#nav_data input{
	margin: 5px 2px;
}

